
.card-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color:darkcyan;
    gap: 50px;
}

.saludo{
    background-color: black;
    text-align: center;
    color: antiquewhite;
}