.title{
    text-align: center;
    background-color: gray;
    color: black;
    min-width: 96px;
}

.nav-ul{
    display:  flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    li{
        list-style: none;
        a{
            text-decoration: none;
        }
    }
}
.app-header{
    display: flex;
    flex-direction: row;
    height: 10vh;
    background-color: darkcyan;

}
.nav-ul li{
    text-decoration: none;
    list-style: none;
    
    
}
