*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body{
    background-color: black;
    color: antiquewhite;
    
}
.app-main{
    padding: 10px;
    background-color: aqua;
}
.data{
    color: black;
}